body {
  margin: 0;
  padding:0;
box-sizing: border-box;
  
}

code {
  font-family:  "Courier New",
    monospace;
}
.counter-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border: 1px solid;
  padding: 0.5rem 0 4rem 0;
}
.btn {
  margin: 1rem 0.3rem;
  padding: 0.35rem;
  cursor: pointer;
  font-size: 18px;
  border: unset;
  border-radius: 5px;
}
.btn:hover {
  background-color: #c2bcc8;
}
h3 {
  font-size: 35px;
}
h2 {
  text-decoration: underline;
}
